footer.footer
    nav.navbar(role='navigation')
    ul.list
      li
        a(href='http://emap.mesacounty.us') GIS Home
      // <li><a href="news.asp">Comments and Feedback</a></li>
      li
        a(href='http://emap.mesacounty.us/viewer') Map Viewer
      |                     
      li
        a(href='http://emap.mesacounty.us/assessor_lookup/') Assessor Parcel Lookup
      |                     
      li
        a(href='http://emap.mesacounty.us/Assessor_Sales_Lookup/') Property Sales Lookup
      |                     
      li
        a(href='http://emap.mesacounty.us/egrab/') Imagery Download
      |                     
      li
        a(href='http://gis.mesacounty.us/template.aspx?id=4383&ekfxmensel=ecfaffb7d_298_306') GIS History
    |                 
    #socialShare
      a(title='Share on Twitter', href='https://twitter.com/home?status=Check%20out%20the%20Mesa%20County%20GIS%20geography%20quiz%20-%20http://emap.mesacounty.us/geographyquiz%20(via%20@MCGIS)', target='_blank')
        img(src='/geographyquiz/static/images/Twitter32.png', alt='Share on Twitter')
      |                     
      a(title='Share on Facebook', href='https://www.facebook.com/sharer/sharer.php?u=http://emap.mesacounty.us/geographyquiz&t=Check%20out%20the%20Mesa%20County%20GIS%20geography%20quiz%20-%20', target='_blank')
        img(src='/geographyquiz/static/images/Facebook32.png', alt='Share on Facebook')
      |                     
      a(title='Share on Google Plus', href='https://plus.google.com/share?url=http://emap.mesacounty.us/geographyquiz', target='_blank')
        img(src='/geographyquiz/static/images/GooglePlus32.png', alt='Share on Google +')

