header
  span Mesa County GIS - Map Gallery
  ul
    li.topMenu(data-url='http://www.mesacounty.us') County Home
    |                 
    li.topMenu(data-url='http://www.mesacounty.us')
      | Departments
      ul
        li
          | Administration
          ul
            li.topMenu(data-url='http://www.mesacounty.us/administration/', title='Services include Liquor Licensing, News and Events, Public Informaion Officer, Resolutions and Ordinances, Special Events, Volunteer Opportunities') Administration
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/ca', title='Provide legal representation for the Board of County Commissioners') County Attorney
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/finance', title='Services include budgets, Cost Allocation Plans, current financials, financial reports') Financial Services
            |                             
            li.topMenu(data-url='http://gis.mesacounty.us', title='Services include aerial imagery, census information, data download, GPS Survey, interactive maps, parcel search and roadmap') GIS
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/hr', title='Services include employee benefits, employment opportunities') Human Resources
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/it', title='Access the Mesa County IT Help Desk for problems with websites') Information Technology
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/risk', title='Services include Claims, Contracts, Insurance, Loss Control, Safety Training') Risk Management
        |                     
        li
          | Community Resources
          ul
            li.topMenu(data-url='http://www.mesacounty.us/building', title='Services include contractor licensing, inspections, permit requirements, residential building guides, snow and wind design') Building
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/codes', title='Services include land code compliance') Code Compliance
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/community', title='Community Initiatives') Community Initiatives
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/engineering', title='Services include capital investment projects, detours, permit administration') Engineering
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/facilities', title='Maintain Mesa County government buildings properties, and equipment') Facilities
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/fairgrounds', title='Services include Equestrian / Livestock Events, Facility Rental, Grand Valley BMX, Mesa County Fair') Fairgrounds
            |                             
            li.topMenu(data-url='http://www.mesacounty.us//publicworks/fleet', title='Maintains equipment and vehicles for Mesa County government') Fleet
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/parks', title='Maintain parks, landscapes, and open spaces') Parks Landscapes &amp; Open Spaces
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/planning', title='Services include codes, plans and policies for land development, landscaping, community planning, energy master plan') Planning
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/publictrustee', title='Public Trustee') Public Trustee
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/publicworks', title='Services include Building, Engineering, Floodplanin Management, Planning, Road and Bridge, Solid Waste Management, Traffic') Public Works
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/purchasing', title='Services include active proposals and quotes') Purchasing
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/rss', title='Services include Code Compliance Services, Facilities, Fairgrounds, Fleet Management, Purchasing, Regional Transportation Planning Office, Tri-River Area Cooperative Extension') Regional &amp; Shared Services
            |                             
            li.topMenu(data-url='http://rtpo.mesacounty.us/', title='Services include Board, Old Spanish Trail plan, Plans, Reports, Studies, Transportation Improvement Program') Regional Transportation Office
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/publicworks/roads', title='Services include asphalt maintenance, concrete maintenance, gravel road maintenance, snow plowing and sanding, street sweeping') Road &amp; Bridge
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/swm', title='Services include composting, electronics recycling, hazardous waste, landfill, recycling') Solid Waste Management
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/publicworks/traffic', title='Services include adopt a road program, detours, vehicle speed monitoring') Traffic
            |                             
            li.topMenu(data-url='http://www.colostate.edu/Depts/CoopExt/TRA/', title='Services include 4-H youth development, agriculture and natural resources, family and consumer science, horticulture / entomology, water quality') Tri-River Extension
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/administration/volunteer-opportunities.aspx', title='Volunteer Opportunities') Volunteer Opportunities
            |                             
            li.topMenu(data-url='http://www.mesacounty.us/pest', title='Weeds and Pest District') Weed &amp; Pest
        |                     
        li
          | Elected Officials
          ul
            li.topMenu(data-url='http://assessor.mesacounty.us/') Assessor
            |                             
            li.topMenu(data-url='http://clerk.mesacounty.us/') Clerk &amp; Recorder
            |                             
            li.topMenu(data-url='http://coroner.mesacounty.us/') Coroner
            |                             
            li.topMenu(data-url='http://rtpo.mesacounty.us/commissioners') Commissioners
            |                             
            li.topMenu(data-url='http://da.mesacounty.us/') District Attorney
            |                             
            li.topMenu(data-url='http://sheriff.mesacounty.us/') Sheriff
            |                             
            li.topMenu(data-url='http://surveyor.mesacounty.us/') Surveyor
            |                             
            li.topMenu(data-url='http://tresurer.mesacounty.us/') Treasurer
        |                     
        li
          | Health, Safety &amp; Human Services
          ul
            li.topMenu(data-url='http://animalservices.mesacounty.us/') Animal Services
            |                             
            li.topMenu(data-url='http://cjsd.mesacounty.us/') Criminal Justice Services
            |                             
            li.topMenu(data-url='http://sheriff.mesacounty.us/oem') Emergency Management
            |                             
            li.topMenu(data-url='http://health.mesacounty.us/') Health Department
            |                             
            li.topMenu(data-url='http://humanservices.mesacounty.us/') Human Services
            |                             
            li.topMenu(data-url='http://workforcecenter.mesacounty.us/') Workforce Center
    // End of Departments
      <li>Portfolio
      <ul>
      <li class='topMenu' data-url="http://www.mesacounty.us">Web Design</li>
      <li class='topMenu' data-url="http://www.mesacounty.us">Web Development</li>
      <li class='topMenu' data-url="http://www.mesacounty.us">Illustrations</li>
      </ul>
      </li>
    li.topMenu(data-url='http://www.mesacounty.us/contact') Contact