aside#leftSidebar
	ul(id='quickLinks') 
		span CONNECT
		li 
			a(href='http://emap.mesacounty.us') GIS Home
		li 
			a(href='http://emap.mesacounty.us/downloaddata') Data Download
		li 
			a(href='http://emap.mesacounty.us/geographyquiz/') Geography Quiz
		li
			a.selected(href='#') Map Gallery
		li 
			a(href='http://emap.mesacounty.us/GPS_Survey/GPS_Survey.htm' target='_blank') GPS Survey
		li 
			a(href='http://emap.mesacounty.us/blog') Blog
		li 
			a(href='http://gis.mesacounty.us/history/') About Us
		li 
			a(href='http://gis.mesacounty.us/contact-us.aspx') Contact Us

	#sidebarSocial
		a(title='Share on Twitter', href='https://twitter.com/home?status=Check%20out%20the%20Mesa%20County%20GIS%20geography%20quiz%20-%20http://emap.mesacounty.us/geographyquiz%20(via%20@MCGIS)', target='_blank')
			img(src='images/32-twitter.png', alt='Share on Twitter')
		|                     
		a(title='Share on Facebook', href='https://www.facebook.com/sharer/sharer.php?u=http://emap.mesacounty.us/geographyquiz&t=Check%20out%20the%20Mesa%20County%20GIS%20geography%20quiz%20-%20', target='_blank')
			img(src='images/32-facebook.png', alt='Share on Facebook')
		|                     
		a(title='Share on Google Plus', href='https://plus.google.com/share?url=http://emap.mesacounty.us/geographyquiz', target='_blank')
			img(src='images/32-googleplus.png', alt='Share on Google +')

	#contactInfo Mesa County GIS<br>544 Rood Avenue<br>Grand Junction, CO 81501<br><br>Department 5037<br>P.O Box 20,000<br>Grand Junction, CO 81502-5001<br><br>(970) 683-4200