@font-face
{
    font-family: Regencie;
    src: url('fonts/RegencieLight.ttf') format('truetype');
}

body, html
{
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Segoe UI;
    margin: 0;
    padding:0;
}

figure, figcaption, aside
{
    display: block;
}

header
{
    width: 100%;
    height: 95px;
    background: #013E6B;
    background-image: url("../images/Map_Gallery_header.png");
    background-repeat: no-repeat;
    margin-bottom: 3em;
}

header > span
    {
    font-family:Regencie;
        color: white;
        font-size: 2.2em;
        position: relative;
        top: 1em;
        left: 8em;
    }

    header ul
    {
        position: absolute;
        top: 3em;
        display: inline;
        margin: 0;
        left: 60em;
        list-style: none;
    }

        header ul li
        {
            font: bold 12px/18px sans-serif;
            display: inline-block;
            margin-right: -5px;
            position: relative;
            padding: 10px 12px;
            background: #013E6B;
            cursor: pointer;
            color: white;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
        }

            header ul li:hover
            {
                background: #555;
                color: #fff;
            }

            header ul li ul
            {
                padding: 0;
                position: absolute;
                top: 37px;
                left: 0;
                white-space: nowrap;
                width: auto;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                display: none;
                opacity: 0;
                visibility: hidden;
                -webkit-transiton: opacity 0.2s;
                -moz-transition: opacity 0.2s;
                -ms-transition: opacity 0.2s;
                -o-transition: opacity 0.2s;
                -transition: opacity 0.2s;
            }

                header ul li ul li
                {
                    background: #555;
                    display: block;
                    color: #fff;
                    text-shadow: 0 -1px 0 #000;
                }

                    header ul li ul li:hover
                    {
                        background: #666;
                        color: white;
                    }

            header ul li:hover > ul
            {
                display: block;
                opacity: 1;
                visibility: visible;
            }

        header ul ul ul
        {
            left: 100%;
            top: 0;
        }

        header ul li ul li:hover > ul
        {
            display: block;
        }


/*.footer{
  position: absolute;
  width:100%;
  background-color: #f5f5f5;
}

.footer ul{
    width:100%;
    margin-left:28em;
    text-align:center;
}

.footer li{
    padding-right:1em;
    display:inline;
}

.footer a{
    text-decoration: none;
}

#socialShare
{
    text-align: center;
    width:100%;
    padding-top:2em;
}

.list{
display: inline;
list-style:none;
padding-right: 20px;
}*/

#myWrapper
{
    width: auto;
    height: 100%;
    padding-bottom:14em;
}

p
{
    padding-left: 1em;
}

#leftSidebar
{
    /*border: 1px solid black;*/
    width: 20em;
    min-height: 50em;
    float: left;
    margin-left: 2em;
    border-radius: 3px;
    background: #D3CFC8;
    margin-bottom: 2em;
}

#quickLinks{
    padding:1em;
    font-size:1.1em;
    font-weight:bold;

}

#quickLinks span{
    font-size:1.3em;
    display:block;
    overflow:hidden;
    text-align:center;
    margin-bottom:1em;
}

#quickLinks li{
    list-style:none;
    text-align:center;
    font-color:#9AD5FF;
}

#quickLinks li:hover{
    font-size:1.11em;
}

#quickLinks a{
    text-decoration:none;
}

#sidebarSocial{
    text-align: center;
    width:100%;
    padding-top:2em;
}

#contactInfo{
    text-align:center;
    margin-top:4em;
    font-size:0.8em;
}

.my-simple-gallery
{
    max-width: 70%;
    float: left;
    margin-left: 2em;
}

    .my-simple-gallery img
    {
        width: 320px;
        height: 200px;
        -webkit-box-shadow: 2px 2px 6px 0px rgba(138,138,138,1);
        -moz-box-shadow: 2px 2px 6px 0px rgba(138,138,138,1);
        box-shadow: 2px 2px 6px 0px rgba(138,138,138,1);
    }

    .my-simple-gallery figure
    {
        display: inline-block;
        margin: 0 20px 30px 0;
        width: 320px;
    }

        .my-simple-gallery figure a
        {
            text-decoration: none;
            font-size: 0.75em;
        }

    .my-simple-gallery figcaption
    {
        display: none;
    }

.title
{
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
}

.pswp__caption__center
{
    text-align: center !important;
}


@media only screen and (max-width: 1400px)
{
    header > ul
    {
        left: 50em;
    }
}



@media only screen and (max-width: 1296px)
{
    .my-simple-gallery
    {
        width: 65%;
    }
}

@media only screen and (max-width: 1240px)
{

    header > ul
    {
        top: 5.8em;
        left: 40em;
    }
}

@media only screen and (max-width: 1135px)
{
    .my-simple-gallery
    {
        width: 60%;
    }

    header
{
    background-image: none;
}

header > span
    {
        top:0;
        left: 1em;
    }

    header > ul
    {
        /*top: 5.8em;*/
        left: 0;
    }
}

@media only screen and (max-width: 980px{
    .my-simple-gallery
    {
        width: 50%;
    }

    header
    {
        margin-bottom: 4em;
    }

        header > ul
        {
            top: 5.8em;
            left: 10em;
            margin-bottom: 5em;
        }
}

@media only screen and (max-width: 764px)
{

    #leftSidebar{
        float:none;
    }

    header
    {
        background-image: none;
    }

    header > span
    {
        text-align:center;
        font-size: 2.2em;
        position: absolute;
        top: 0.1em;
        left: 0;
    }

        header > ul
        {
            top: 5.8em;
            left: -3em;
        }
}

/*@media only screen and (max-width: 300px)
{

    #leftSidebar
    {
        float: none;
        margin-left: 0;
    }

    .my-simple-gallery
    {
        margin-left: 0;
    }
}*/
